@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h1>My Store App</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            &copy; 2025 My Store
        </div>

    </main>
</div>